/* Estils per a la pàgina web */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

main {
    padding-bottom: 20px;
}

.server-section {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.server-section h2 {
    color: #333;
}

.server-section ul {
    margin-top: 10px;
}
.server-section .content {
    display: flex;
    align-items: center;
}

.server-section .text {
    flex: 75%; /* El contenido de texto ocupa el 75% del ancho */
}

.server-section .image {
    flex: 25%; /* La imagen ocupa el 25% del ancho */
    padding-left: 20px; /* Espacio a la izquierda de la imagen */
}

.server-section .image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Opcional: Añade bordes redondeados a la imagen */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Estils addicionals si cal */
